.my-plugin-icon-active {
    background-color: var(--text-accent);
    color: var(--background-primary);
}

.entry{
    padding: 10px;
}

.coor {
    padding: 10px;
    display: none;
}

.imageDim {
    width: 50%;
    height: 50%;
    overflow: hidden;
    display: inline-block;      /* only as wide as contents */
    padding-left: 10px;
}

.imageDim img {
    display: block;             /* own line max width */
    z-index: 1;                 /* push image to back */
    width: 100%;
    height: 100%;
    border-radius: 4%;
}

.outputs {
    position: relative;         /* anchor element for lens */
}

.zoom-lens {

    display: none;              /* hide lens before request */     
    position: absolute;         /* pulls element out of document flow */
    z-index: 10;                /* stacks lens on top of the base image */
    
    width: 50px;                /* sets lens shape + size */
    height: 50px;           
    border-radius: 50%;      
    
    background-repeat: no-repeat;
    image-rendering: pixelated; 

    border: 4px solid #ffffff;   
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);    /* gives lens "floating" depth */

}