.my-plugin-icon-active {
    background-color: var(--text-accent);
    color: var(--background-primary);
}

.entry{
    padding: 10px;
}

.correction{
    color: var(--text-error);
    font-size: 10px;
}
